<div class="container pt-5">

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://lp-cms-production.imgix.net/2019-06/GettyImages-477678650_high.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alappuzha</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://th.bing.com/th/id/OIP.-1GnPejIAfngwkYbK6nFMwHaE8?w=266&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ernakulam</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://th.bing.com/th/id/OIP.Wip8csAQBmjr0yFpBRZT5wHaD4?w=301&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">kolam</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
       
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://th.bing.com/th/id/OIP.hEGvglIZc_CyQuY1D-kJJwHaEA?w=313&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">thiruvanathapuram</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://keralatourism.travel/images/places-to-visit/headers/idukki-dam-timings-entry-fee-bult-by-history-header.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">idduki</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://th.bing.com/th/id/OIP.m4ucIQ8YA9OmuvArD7eFgAHaEK?w=275&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">thrissur</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
       
      </div>